---
import ReferenceLink from "../Reference/ReferenceLink.astro";
import TypeSignature from "./TypeSignature.astro";
import TypeSignatureGenerics from "./TypeSignatureGenerics.astro";

type Props = {
    data?: any;
};

const { data } = Astro.props;
const keyword = data?.kind;
---

<>{
        () => {
        if (keyword === "NumberKeyword") {
            return <span class="text-primary">number</span>;
        } else if (keyword === "StringKeyword") {
            return <span class="text-primary">string</span>;
        } else if (keyword === "BooleanKeyword") {
            return <span class="text-primary">boolean</span>;
        } else if (keyword === "AnyKeyword") {
            return <span class="text-primary">any</span>;
        } else if (keyword === "NullKeyword") {
            return <span class="text-primary">null</span>;
        } else if (keyword === "UndefinedKeyword") {
            return <span class="text-primary">undefined</span>;
        } else if (keyword === "VoidKeyword") {
            return <span class="text-primary">void</span>;
        } else if (keyword === "NeverKeyword") {
            return <span class="text-primary">never</span>;
        } else if (keyword === "StringLiteral") {
            return <span class="text-primary">{data.text}</span>;
        } else if (keyword === "TypeParameter") {
            return <span class="text-primary">{data.name}</span>;
        } else if (keyword === "TypeReference") {
            return (
            <span class="text-primary"><ReferenceLink
                    name={data.typeName}
                    styled
                /></span>
        );
        } else if (
            keyword === "LiteralType"
            || keyword === "ParenthesizedType"
            || keyword === "UnionType"
            || keyword === "FunctionType"
            || keyword === "TypeLiteral"
            || keyword === "ArrayType"
            || keyword === "IntersectionType"
            || keyword === "IndexedAccessType"
        ) {
            return <TypeSignature {data} />;
        } else {
            return <span>{keyword}</span>;
            }
        }
    }<TypeSignatureGenerics {data} /></>
