---
import DocEntry from "../DocEntry.astro";
import JSDoc from "../JSDoc.astro";
import TypeBadge from "../Other/TypeBadge.astro";
import Title from "../Utils/Title.astro";

type TypeDataClassDeclaration = {
    kind: "InterfaceDeclaration";
    id: number;
    name: string;
    members: Record<string, any>;
};

type Props = {
    data: TypeDataClassDeclaration;
    depth: number;
};

const { data, depth } = Astro.props;
---

<TypeBadge depth={depth}>Class</TypeBadge>
<Title depth={depth} data-dg-class-declaration><span>{data.name}:</span></Title>

<JSDoc data={data} />

{Object.keys(data.members).map((d) => data.members[d].map((rd) => <DocEntry data={rd} depth={depth + 1} parent={data.name} />))}
