---
import DocFor from "../DocFor.astro";
import JSDoc from "../JSDoc.astro";
import Title from "../Utils/Title.astro";
import type { DataMaybeMemberTypeProps, DataTypeProps } from "../Utils/types.ts";

type TypeDataFunctionDeclaration = {
    kind: "FunctionDeclaration";
    id: number;
    name: string;
    parameters: [];
    type: any[];
    questionToken: boolean;
};

interface Props extends DataMaybeMemberTypeProps {
    data: TypeDataFunctionDeclaration;
}

const { index, data, depth, parent } = Astro.props;
---

<span data-dg-function-declaration
    ><Title index={index} name={data.name} parent={parent} depth={depth}>:</Title><DocFor data={data.type} depth={depth} parent={data.name} />

    <JSDoc data={data} />
</span>
