---
import DocFor from "../DocFor.astro";
import JSDoc from "../JSDoc.astro";
import Modifiers from "../Other/Modifiers.astro";
import Parameters from "../Other/Parameters.astro";
import Title from "../Utils/Title.astro";
import type { DataMaybeMemberTypeProps } from "../Utils/types.ts";

type TypeDataMethodDeclaration = {
    kind: "MethodDeclaration";
    id: number;
    name: string;
    parameters: any[];
    type: any[];
    questionToken: boolean;
    modifiers?: any[];
};

interface Props extends DataMaybeMemberTypeProps {
    data: TypeDataMethodDeclaration;
}

const { data, depth, parent } = Astro.props;
---

{data.modifiers ? <Modifiers modifiers={data.modifiers} /> : ""}
{" "}<Title name={data.name} class="inline" depth={depth} parent={parent} />{data.questionToken ? "?." : ""}(<Parameters
    data={data.parameters}
    depth={depth}
/>)
<span>{"=>"} <DocFor data={data.type} depth={depth} parent={data.name} /></span>

<JSDoc data={data} />
