---
import DocFor from "../DocFor.astro";
import JSDoc from "../JSDoc.astro";
import TypeBadge from "../Other/TypeBadge.astro";
import Title from "../Utils/Title.astro";
import type { DataMaybeMemberTypeProps } from "../Utils/types.ts";

type TypeDataTypeAliasDeclaration = {
    kind: "TypeAliasDeclaration";
    id: number;
    name: string;
    type: any;
};

interface Props extends DataMaybeMemberTypeProps {
    data: TypeDataTypeAliasDeclaration;
}

const { index, parent, data, depth } = Astro.props;
---

<TypeBadge depth={depth}>Type</TypeBadge>
<Title index={index} name={data.name} parent={parent} depth={depth} data-dg-type-alias-declaration>:</Title>

<DocFor data={data.type} depth={depth + 1} parent={data.name} />

<JSDoc data={data} />
