---
import DocFor from "../DocFor.astro";
import JSDoc from "../JSDoc.astro";
import type { DataTypeParameter } from "../Other/Parameter.astro";
import Parameters from "../Other/Parameters.astro";
import Title from "../Utils/Title.astro";
import type { DataTypeProps } from "../Utils/types.ts";

type TypeDataGetAccessor = {
    kind: "GetAccessor";
    name: string;
    parameters: DataTypeParameter[];
    type: any;
};

interface Props extends DataTypeProps {
    data: TypeDataGetAccessor;
}

const { data, depth } = Astro.props;
console.log(data);
---

<span data-dg-set-accessor>get</span>
<Title class="inline" depth={depth}>{data.name}</Title>(<Parameters data={data.parameters} depth={depth} />): <DocFor data={data.type} depth={depth} />
<JSDoc data={data} />
