---
import hamburgerIcon from "@/assets/hamburger.webp";
import kaplayOutlined from "@/assets/kaplay-o.webp";
import { Image } from "astro:assets";

const internalLinks = [
    {
        name: "About",
        url: "#about",
        highlight: false,
    },
    {
        name: "Example",
        url: "#example",
        highlight: false,
    },
    {
        name: "Playground",
        url: "https://play.kaplayjs.com",
    },
];

const externalLinks = [
    {
        name: "Blog",
        url: "/blog",
        highlight: false,
    },
    {
        name: "Donate",
        url: "https://opencollective.com/kaplay",
        highlight: false,
    },
    {
        name: "Docs",
        url: "/guides/install",
        highlight: true,
    },
];
---

<!-- Navbar -->
<nav class="navbar bg-base-300 fixed z-50">
    <!-- Menu for mobile -->
    <div class="w-full flex justify-between md:hidden">
        <a class="btn btn-ghost" href="/">
            <Image
                class="h-full w-fit object-scale-down"
                src={kaplayOutlined}
                alt="KAPLAY, The JavaScript easy game library"
            />
            <span class="hidden">KAPLAY, a TypeScript Game Library</span>
        </a>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                <img
                    src={hamburgerIcon.src}
                    width="42"
                    height="42"
                    alt="hamburger icon"
                    class="px-0 py-0"
                />
            </div>

            <ul
                tabindex="0"
                class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2"
            >
                {
                    [...internalLinks, ...externalLinks].map((link) => (
                        <li>
                            <a
                                class:list={[
                                    "btn btn-sm",
                                    {
                                        "btn-primary": link.highlight,
                                        "btn-ghost": !link.highlight,
                                    },
                                ]}
                                href={link.url}
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <!-- Menu for desktop -->
    <div class="w-full hidden md:grid grid-cols-5 gap-2">
        <ul class="col-span-2 md:flex justify-end hidden gap-4">
            {
                internalLinks.map((link) => (
                    <li>
                        <a
                            class="font-semibold btn btn-sm btn-ghost"
                            href={link.url}
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="flex justify-center">
            <a class="btn btn-ghost text-lg" href="/">
                <Image
                    class="h-full w-fit object-scale-down"
                    src={kaplayOutlined}
                    alt="KAPLAY, The JavaScript easy game library"
                />
                <span class="hidden">KAPLAY, a TypeScript Game Library</span>
            </a>
        </div>

        <ul class="col-span-2 md:flex justify-start hidden gap-2">
            {
                externalLinks.map((link) => (
                    <li>
                        <a
                            class:list={[
                                "btn btn-sm",
                                {
                                    "btn-primary": link.highlight,
                                    "btn-ghost": !link.highlight,
                                },
                            ]}
                            href={link.url}
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>
