---
import hamburgerIcon from "@/assets/hamburger.webp";
import { assets } from "@kaplayjs/crew";

const internalLinks = [
    {
        name: "Home",
        url: "/",
        highlight: false,
        icon: assets.bean.outlined,
        reload: true,
    },
    {
        name: "Assets",
        url: "/crew",
        highlight: false,
        icon: assets.assetbrew.outlined,
    },
    {
        name: "Playground",
        url: "https://play.kaplayjs.com",
        icon: assets.bobo.outlined,
    },
];

const externalLinks = [
    {
        name: "Blog",
        url: "/blog",
        highlight: false,
        icon: assets.paper.outlined,
    },
    {
        name: "Donate",
        url: "https://opencollective.com/kaplay",
        highlight: false,
        icon: assets.money_bag.outlined,
    },
    {
        name: "Docs",
        url: "/guides/install",
        highlight: true,
        icon: assets.api_book.outlined,
    },
];
---

<!-- Navbar -->
<nav class="navbar relative bg-base-300 rounded-b-xl z-50">
    <!-- Menu for mobile -->
    <div class="flex w-full justify-between md:hidden">
        <a class="btn btn-ghost" href="/" data-astro-reload>
            <div
                class="kaplay-logo bg-gradient-kaplay-animated"
                role="img"
                aria-label="KAPLAY, The easy JavaScript game library"
            ></div>
            <span class="hidden">KAPLAY, a TypeScript Game Library</span>
        </a>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                <img
                    src={hamburgerIcon.src}
                    width="42"
                    height="42"
                    alt="hamburger icon"
                    class="px-0 py-0"
                />
            </div>

            <ul
                tabindex="0"
                class="menu dropdown-content z-[1] w-56 gap-2 rounded-box bg-base-200 p-6 shadow border border-base-100"
            >
                {
                    [...internalLinks, ...externalLinks].map((link) => (
                        <li
                            class:list={{
                                "mx-4 first:ml-0 last:mr-0": link.highlight,
                            }}
                        >
                            <a
                                class:list={[
                                    "btn btn-sm uppercase",
                                    {
                                        "btn-primary": link.highlight,
                                        "btn-ghost": !link.highlight,
                                    },
                                ]}
                                href={link.url}
                            >
                                {link.name}
                                <img
                                    src={link.icon}
                                    width="24"
                                    height="24"
                                    alt={link.name}
                                    class="px-0 py-0"
                                />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <!-- Menu for desktop -->
    <div class="hidden w-full grid-cols-5 gap-2 md:grid">
        <ul class="col-span-2 hidden justify-end gap-2 md:flex">
            {
                internalLinks.map((link) => (
                    <li>
                        <a
                            class="btn btn-ghost font-semibold uppercase"
                            href={link.url}
                            data-astro-reload={link?.reload}
                        >
                            <img
                                src={link.icon}
                                width="24"
                                height="24"
                                alt={link.name}
                                class="px-0 py-0"
                            />
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="flex justify-center">
            <a class="btn btn-ghost btn-lg" href="/" data-astro-reload>
                <div
                    class="kaplay-logo bg-gradient-kaplay-animated"
                    role="img"
                    aria-label="KAPLAY, The easy JavaScript game library"
                ></div>
                <span class="hidden">KAPLAY, a TypeScript Game Library</span>
            </a>
        </div>

        <ul class="col-span-2 hidden justify-start gap-2 md:flex">
            {
                externalLinks.map((link) => (
                    <li
                        class:list={{
                            "mx-4 first:ml-0 last:mr-0": link.highlight,
                        }}
                    >
                        <a
                            class:list={[
                                "btn uppercase",
                                {
                                    "btn-primary": link.highlight,
                                    "btn-ghost": !link.highlight,
                                },
                            ]}
                            href={link.url}
                        >
                            {link.name}
                            <img
                                src={link.icon}
                                width="24"
                                height="24"
                                alt={link.name}
                                class="px-0 py-0"
                            />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>
