---
import hamburgerIcon from "@/assets/hamburger.webp";
import kaplayOutlined from "@/assets/kaplay-o.webp";
import { assets } from "@kaplayjs/crew";
import { Image } from "astro:assets";

const internalLinks = [
    {
        name: "Home",
        url: "/",
        highlight: false,
        icon: assets.bean.outlined,
    },
    {
        name: "Assets",
        url: "/crew",
        highlight: false,
        icon: assets.assetbrew.outlined,
    },
    {
        name: "Playground",
        url: "https://play.kaplayjs.com",
        icon: assets.bobo.outlined,
    },
];

const externalLinks = [
    {
        name: "Blog",
        url: "/blog",
        highlight: false,
        icon: assets.paper.outlined,
    },
    {
        name: "Donate",
        url: "https://opencollective.com/kaplay",
        highlight: false,
        icon: assets.money_bag.outlined,
    },
    {
        name: "Docs",
        url: "/guides/install",
        highlight: true,
        icon: assets.api_book.outlined,
    },
];
---

<!-- Navbar -->
<nav class="navbar z-50 bg-base-300">
    <!-- Menu for mobile -->
    <div class="flex w-full justify-between md:hidden">
        <a class="btn btn-ghost" href="/">
            <Image
                class="h-full w-fit object-scale-down"
                src={kaplayOutlined}
                alt="KAPLAY, The JavaScript easy game library"
                loading={"eager"}
            />
            <span class="hidden">KAPLAY, a TypeScript Game Library</span>
        </a>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                <img
                    src={hamburgerIcon.src}
                    width="42"
                    height="42"
                    alt="hamburger icon"
                    class="px-0 py-0"
                />
            </div>

            <ul
                tabindex="0"
                class="menu dropdown-content z-[1] w-56 gap-2 rounded-box bg-base-200 p-6 shadow"
            >
                {
                    [...internalLinks, ...externalLinks].map((link) => (
                        <li>
                            <a
                                class:list={[
                                    "btn btn-sm",
                                    {
                                        "btn-primary": link.highlight,
                                        "btn-ghost": !link.highlight,
                                    },
                                ]}
                                href={link.url}
                            >
                                {link.name}
                                <img
                                    src={link.icon}
                                    width="24"
                                    height="24"
                                    alt={link.name}
                                    class="px-0 py-0"
                                />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <!-- Menu for desktop -->
    <div class="hidden w-full grid-cols-5 gap-2 md:grid">
        <ul class="col-span-2 hidden justify-end gap-4 md:flex">
            {
                internalLinks.map((link) => (
                    <li>
                        <a class="btn btn-ghost font-semibold" href={link.url}>
                            {link.name}
                            <img
                                src={link.icon}
                                width="24"
                                height="24"
                                alt={link.name}
                                class="px-0 py-0"
                            />
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="flex justify-center">
            <a class="btn btn-ghost btn-lg" href="/">
                <Image
                    class="h-full w-fit object-scale-down"
                    src={kaplayOutlined}
                    alt="KAPLAY, The JavaScript easy game library"
                    loading="eager"
                />
                <span class="hidden">KAPLAY, a TypeScript Game Library</span>
            </a>
        </div>

        <ul class="col-span-2 hidden justify-start gap-2 md:flex">
            {
                externalLinks.map((link) => (
                    <li>
                        <a
                            class:list={[
                                "btn",
                                {
                                    "btn-primary": link.highlight,
                                    "btn-ghost": !link.highlight,
                                },
                            ]}
                            href={link.url}
                        >
                            {link.name}
                            <img
                                src={link.icon}
                                width="24"
                                height="24"
                                alt={link.name}
                                class="px-0 py-0"
                            />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>
