---
import hamburgerIcon from "@/assets/hamburger.webp";
import type { Locale } from "@/util/i18n.ts";
import translationStrings from "@/locales/translationStrings";

const l = Astro.currentLocale as Locale;
const firstLinksRow = translationStrings[l].navbar.firstLinksRow;
const secondLinksRow = translationStrings[l].navbar.secondLinksRow;
---

<!-- Navbar -->
<nav class="navbar relative bg-base-300 rounded-b-xl z-50">
    <!-- Menu for mobile -->
    <div class="flex w-full justify-between md:hidden">
        <a class="btn btn-ghost" href="/" data-astro-reload>
            <div class="kaplay-logo bg-gradient-kaplay-animated" role="img" aria-label="KAPLAY, The easy JavaScript game library"></div>
            <span class="hidden">KAPLAY, a TypeScript Game Library</span>
        </a>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                <img src={hamburgerIcon.src} width="42" height="42" alt="Menu" class="px-0 py-0" />
            </div>

            <ul
                tabindex="0"
                class="menu dropdown-content flex-nowrap z-[1] w-60 gap-2 rounded-box bg-base-200 mt-2 -mr-2 p-6 shadow-2xl border border-base-100 max-h-[calc(100svh-4.5rem)] overflow-hidden overflow-y-auto"
            >
                {
                    [...firstLinksRow, ...secondLinksRow].map((link) => (
                        <li>
                            <a
                                class:list={[
                                    "btn btn-sm uppercase justify-start text-left",
                                    {
                                        "btn-primary": link.highlight == "docs",
                                        "btn-ghost": link.highlight != "docs",
                                        "bg-base-50": link.highlight && link.highlight != "docs",
                                    },
                                ]}
                                href={link.url}
                            >
                                <img src={link.icon} width="24" height="24" aria-hidden="true" class="px-0 py-0" />
                                {link.name}
                            </a>

                            {link.dropdown && (
                                <ul
                                    class:list={[
                                        "relative pl-1 pr-2 pt-3 pb-2",
                                        { "-mb-2": !link.highlight },
                                        {
                                            "after:absolute after:inset-0 after:-top-4 after:-left-4 after:bg-base-content/5 after:rounded-lg after:-z-[1]":
                                                link.highlight,
                                        },
                                    ]}
                                >
                                    {link.dropdown.map((link) => (
                                        <li>
                                            <a class:list={["btn btn-sm btn-ghost justify-start text-left"]} href={link.url}>
                                                <img src={link.icon} width="20" height="20" aria-hidden="true" class="px-0 py-0" />
                                                {link.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <!-- Menu for desktop -->
    <div class="hidden w-full max-w-[72.5rem] grid-cols-5 gap-2 md:grid mx-auto">
        <ul class="col-span-2 hidden gap-2 md:flex">
            {
                firstLinksRow.map((link) => (
                    <li>
                        <a class="btn btn-ghost font-semibold uppercase" href={link.url} data-astro-reload={link?.reload}>
                            <img src={link.icon} width="24" height="24" aria-hidden="true" class="px-0 py-0" />
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>

        <div class="flex justify-center">
            <a class="btn btn-ghost btn-lg" href="/" data-astro-reload>
                <div class="kaplay-logo bg-gradient-kaplay-animated" role="img" aria-label="KAPLAY, The easy JavaScript game library"></div>
                <span class="hidden">KAPLAY, a TypeScript Game Library</span>
            </a>
        </div>

        <ul class="col-span-2 hidden justify-end gap-0 lg:gap-2 md:flex">
            {
                secondLinksRow.map((link) => (
                    <li
                        class:list={{
                            "mx-3 first:ml-0 last:mr-0 [.mx-3+&]:ml-0.5": link.highlight,
                            "flex gap-0.5": link.dropdown,
                        }}
                    >
                        <a
                            class:list={[
                                "btn shrink uppercase h-full min-h-11 py-2",
                                {
                                    "btn-primary": link.highlight == "docs",
                                    "inline-flex gap-2 text-white items-center justify-center bg-[#4e585d]/70 border border-green-100/10 shadow-[0_0.25em_0_0_rgba(255,255,255,0.1)] hover:scale-105 hover:bg-[#ee8fcb] hover:border-[#d46eb3] hover:shadow-[0_0.25em_0_0_#873e84] hover:text-black transition-all":
                                        link.highlight == "support",
                                    "btn-ghost": !link.highlight,
                                    "join-item pr-2.5": link.dropdown,
                                    "rounded-r-sm": link.dropdown && link.highlight,
                                },
                            ]}
                            href={link.url}
                            target={link.target ?? "_self"}
                        >
                            {link.name}
                            <img src={link.icon} width="24" height="24" aria-hidden="true" class="px-0 py-0" />
                        </a>

                        {link.dropdown && (
                            <div class:list={["dropdown dropdown-end join-item"]}>
                                <div
                                    tabindex="0"
                                    role="button"
                                    class:list={[
                                        "btn uppercase h-full min-h-11 p-2",
                                        {
                                            "btn-primary": link.highlight == "docs",
                                            "inline-flex gap-2 text-white items-center justify-center bg-[#4e585d]/70 border border-green-100/10 shadow-[0_0.25em_0_0_rgba(255,255,255,0.1)] hover:bg-[#ee8fcb] hover:border-[#d46eb3] hover:shadow-[0_0.25em_0_0_#873e84] hover:text-black transition-all":
                                                link.highlight == "support",
                                            "btn-ghost -ml-1 px-0 hover:bg-transparent hover:text-white": !link.highlight,
                                            "join-item": link.dropdown,
                                            "rounded-l-sm": link.dropdown && link.highlight,
                                        },
                                    ]}
                                >
                                    <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="3"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="m6 9 6 6 6-6" />
                                    </svg>
                                </div>

                                <ul
                                    tabindex="0"
                                    class="dropdown-content menu w-max mt-2 lg:mt-[1.125rem] -mr-px p-3 space-y-1 bg-base-100 rounded-xl border border-base-content/5 shadow-2xl z-[1] focus-visible:ring-2 focus-visible:ring-base-content"
                                >
                                    {link.dropdown.map((link) => (
                                        <li>
                                            <a
                                                class:list={[
                                                    "btn btn-sm btn-ghost pl-1.5 py-1 h-auto w-full justify-start font-medium text-base text-wrap text-left",
                                                ]}
                                                href={link.url}
                                            >
                                                <img src={link.icon} width="20" height="20" aria-hidden="true" class="h-5 w-5 object-scale-down" />
                                                {link.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        )}
                    </li>
                ))
            }
        </ul>
    </div>
</nav>
