---
import DocFor from "../DocFor.astro";
import JSDoc from "../JSDoc.astro";
import Strong from "../Other/Strong.astro";
import TypeBadge from "../Other/TypeBadge.astro";
import Title from "../Utils/Title.astro";
import type { JSX } from "astro/jsx-runtime";

type TypeDataPropertySignature = {
    kind: "PropertySignature";
    id: number;
    name: string;
    type: any[];
    questionToken: boolean;
};

type Props = {
    data: TypeDataPropertySignature;
    depth: number;
};

const { data, depth } = Astro.props;
---

<TypeBadge depth={depth}>Constant</TypeBadge>
<Title class="inline" depth={depth}>{data.name}</Title><Strong depth={depth}>{data.questionToken ? "?" : ""}: <DocFor data={data.type} depth={depth} /></Strong>

<JSDoc data={data} />
