---
import { cn } from "@/util/cn";
import { localesData, type Locale } from "@/util/i18n";

const currentLocale = Astro.currentLocale as Locale;
---

<div class:list={["dropdown grow min-w-0", "after:absolute after:inset-0 after:pointer-events-none focus-within:after:pointer-events-auto"]}>
    <div
        tabindex="0"
        role="button"
        class="btn btn-sm flex-nowrap font-medium text-white text-center size-full min-h-none px-2 no-animation [.dropdown:focus-within_&]:bg-neutral"
    >
        <span class="w-full py-0.5 text-nowrap text-ellipsis overflow-x-hidden" tabindex="-1">
            {localesData[currentLocale].name}
        </span>

        <svg
            class="shrink-0"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="m6 9 6 6 6-6"></path>
        </svg>
    </div>

    <ul
        tabindex="0"
        class="dropdown-content menu w-max min-w-full mt-1.5 p-1.5 space-y-0.5 bg-base-100 rounded-lg border border-base-content/5 shadow-2xl z-[1] focus-visible:ring-2 focus-visible:ring-base-content"
    >
        {
            Object.entries(localesData).map(([lang, { name, url }]) => (
                <li class="language">
                    <a
                        class={cn(
                            "btn btn-sm btn-ghost px-2 py-0.5 h-auto w-full justify-start font-normal text-wrap text-left text-base-subheading rounded-md no-animation",
                            {
                                "bg-base-content/5": lang == currentLocale,
                            },
                        )}
                        href={url}
                        data-lang={lang}
                    >
                        {name}
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<script>
    import { localesData } from "@/util/i18n";

    document.addEventListener("astro:page-load", () => {
        fetch("/pagefind/pagefind-entry.json")
            .then((res) => res.json())
            .then((data) => {
                const languages = data.languages;
                const languageLiA = document.querySelectorAll(".language a");
                const totalPages = data.languages["en"]?.page_count ?? 0;

                languageLiA.forEach((a) => {
                    const lang = a.getAttribute("data-lang") ?? "";
                    const count = languages[lang].page_count ?? 0;

                    const percent = ((count / totalPages) * 100).toFixed(1);
                    const localeData = localesData[lang];

                    if (localeData) {
                        a.textContent = `${localeData.name} (${percent}%)`;
                    }
                });
            });
    });
</script>
