---
import kaplayPackageJson from "@/../kaplay/package.json";
import kaplayOutlined from "@/assets/kaplay-o.webp";
import type { Locale, TranslationString } from "@/util/i18n";
import { getLangedRoute } from "@/util/path";
import Image from "astro/components/Image.astro";
import SidebarLink from "./SidebarLink.astro";
import SidebarList from "./SidebarList.astro";

type LinkListEntry = {
    title: string;
    link: string;
};

export type SidebarEntry = {
    linkList: LinkListEntry[];
    folder: string;
};

export type SidebarProps = {
    sidebarMode?: "guides" | "reference";
    t: (key: TranslationString) => string;
    lang: Locale;
};

type Props = SidebarProps;

const { sidebarMode, t, lang } = Astro.props;
---

<div class="drawer lg:drawer-open">
    <input id="sidebar" type="checkbox" class="drawer-toggle" />

    <div
        class="drawer-content flex flex-col items-start justify-start max-h-screen overflow-y-auto w-full"
    >
        <slot />
    </div>
    <div class="drawer-side">
        <label
            for="sidebar"
            aria-label="close sidebar"
            class="drawer-overlay"
        ></label>
        <div class="p-4 w-80 min-h-full bg-base-200 text-base-content">
            <figure>
                <a class="btn btn-ghost h-max" href={getLangedRoute(lang, "/")}>
                    <Image
                        src={kaplayOutlined}
                        alt="kaplay logo"
                        class="w-52 h-24 aspect-auto object-contain"
                    />
                </a>
            </figure>
            <div class="px-4 pb-4">
                <p class="badge badge-primary badge-lg">
                    {kaplayPackageJson.version}
                </p>
            </div>
            <ul class="flex-col gap-2">
                <SidebarLink link="/" {lang}>{t("sidebar.home")}</SidebarLink>
                <SidebarLink
                    link="https://kaboomjs.com/discord"
                    target="_blank"
                    {lang}
                    noTranslate
                >
                    Discord
                </SidebarLink>
                <SidebarLink
                    link="https://github.com/marklovers/kaplay"
                    target="_blank"
                    {lang}
                    noTranslate
                >
                    GitHub
                </SidebarLink>
                <SidebarLink
                    link="https://play.kaplayjs.com"
                    target="_blank"
                    {lang}
                    noTranslate
                >
                    {t("sidebar.playground")}
                    <div class="badge badge-primary">WIP</div>
                </SidebarLink>
            </ul>
            <div class="divider"></div>
            <ul class="flex-col gap-2">
                <SidebarLink link="/guides/install" {lang}>{
                    t("sidebar.guides")
                }</SidebarLink>
                <SidebarLink link="/reference" {lang}>{
                    t("sidebar.refdoc")
                }</SidebarLink>
                <SidebarLink link="/blog" {lang}>{
                    t("sidebar.blog")
                }</SidebarLink>
            </ul>
            <div class="divider"></div>
            <SidebarList {sidebarMode} {t} {lang} />
        </div>
    </div>
</div>
