---
import hamburgerIcon from "@/assets/hamburger.webp";
import { Image } from "astro:assets";
import type { MarkdownHeading } from "astro";
import { assets } from "@kaplayjs/crew";
import searchIcon from "@/assets/search.png";

interface Props {
    headings?: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="fixed z-30 flex h-16 w-full items-center justify-between gap-4 bg-base-200 px-4 lg:pl-8 md:w-[calc(100%-18rem)] rounded-br-xl">
    <label for="sidebar" class="flex md:hidden">
        <figure>
            <Image src={hamburgerIcon} width="64" height="64" alt="hamburger icon" />
        </figure>
    </label>

    <button class="btn bg-base-100" onclick="document.querySelector('#search-modal')?.showModal()">
        <img src={searchIcon.src} alt="search icon" class="h-9 w-9" />
        <span class="hidden sm:inline">SEARCH</span>
        <kbd id="search-btn" class="kbd hidden md:inline-flex">CTRL + K</kbd>
    </button>

    {
        headings && headings.length > 0 && (
            <select id="section-select" class="select select-sm max-w-40" onchange="window.location.href = this.value">
                {headings?.map((heading) => (
                    <option
                        value={`#${heading.slug}`}
                        class:list={[
                            {
                                "lg:text-xl lg:font-semibold": heading.depth === 1,
                                "lg:text-lg": heading.depth === 2,
                                "lg:text-base": heading.depth >= 3,
                            },
                        ]}
                    >
                        {heading.text}
                    </option>
                ))}
            </select>
        )
    }
    <div class="flex flex-row p-2 text-sm text-base-content">
        <a href="https://github.com/kaplayjs" target="_blank" class="btn btn-ghost p-2">
            <img src={assets["github"].outlined} alt="Sidebar Icon" class="h-6 w-6" />
        </a>
        <a href="https://discord.com/invite/aQ6RuQm3TF" target="_blank" class="btn btn-ghost p-2">
            <img src={assets["discord"].outlined} alt="Sidebar Icon" class="h-6 w-6" />
        </a>
        <a href="https://play.kaplayjs.com" target="_blank" class="btn btn-ghost p-2">
            <img src={assets["play"].outlined} alt="Sidebar Icon" class="h-6 w-6" />
        </a>
    </div>
</nav>

<script>
    const select = document.querySelector<HTMLSelectElement>("#section-select")!;
    const headers = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]")!;

    window.addEventListener("scroll", () => {
        let closest: Element | null = null;
        let minOffset = Infinity;

        headers.forEach((header) => {
            const rect = header.getBoundingClientRect();
            const offset = Math.abs(rect.top);

            if (rect.top <= 100 && offset < minOffset) {
                minOffset = offset;
                closest = header;
            }
        });

        if (closest) {
            // @ts-expect-error Wtf why here's never?
            select.value = `#${closest.id}`;
        }
    });
</script>
