---
import kaplayPackageJson from "@/../kaplay/package.json";
import kaplayOutlined from "@/assets/kaplay-o.webp";
import { $lang } from "@/stores";
import { t } from "@/util/i18n";
import { getLangedRoute } from "@/util/path";
import Image from "astro/components/Image.astro";
import { getBlogEntries, getDocEntries, getGuidesEntries } from "./entries";
import SidebarChangeLink from "./SidebarChangeLink.astro";
import { SidebarLink } from "./SidebarLink";
import { SidebarList } from "./SidebarList";
import VersionSelector from "./VersionSelector.astro";

type LinkListEntry = {
    title: string;
    link: string;
};

export type SidebarEntry = {
    linkList: LinkListEntry[];
    folder: string;
};

export type SidebarProps = {
    sidebarMode?: "guides" | "reference" | "blog";
};

type Props = SidebarProps;

const lang = $lang.get();
const { sidebarMode } = Astro.props;
let renderList: SidebarEntry[] = [];

if (sidebarMode === "guides") {
    renderList = await getGuidesEntries();
}
else if (sidebarMode === "reference") {
    renderList = await getDocEntries();
}
else if (sidebarMode === "blog") {
    renderList = await getBlogEntries();
}
---

<script src="./paintLinks.ts" />

<div class="drawer lg:drawer-open h-full z-20">
    <input id="sidebar" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content w-full">
        <slot />
    </div>
    <div class="drawer-side h-svh lg:bg-base-300 z-50">
        <label
            for="sidebar"
            aria-label="close sidebar"
            class="drawer-overlay"
        ></label>
        <div
            class="p-4 w-72 min-h-full bg-base-300 text-base-content"
            transition:persist
        >
            <figure>
                <a class="btn btn-ghost h-max" href={getLangedRoute(lang, "/")}>
                    <Image
                        src={kaplayOutlined}
                        alt="kaplay logo"
                        class="w-52 h-24 aspect-auto object-contain"
                        width={208}
                        height={100}
                    />
                </a>
            </figure>
            <div class="px-4 pb-4">
                <VersionSelector />
            </div>
            <ul class="flex-col gap-2">
                <SidebarLink href="/" lang={lang}>{
                    t(lang, "sidebar.home")
                }</SidebarLink>
                <SidebarLink
                    href="https://kaboomjs.com/discord"
                    target="_blank"
                    lang={lang}
                    noTranslate
                >
                    Discord
                </SidebarLink>
                <SidebarLink
                    href="https://github.com/kaplayjs/kaplay"
                    target="_blank"
                    lang={lang}
                    noTranslate
                >
                    GitHub
                </SidebarLink>
                <SidebarLink
                    href="/changelog"
                    lang={lang}
                    noTranslate
                >
                    What's new on v4000
                </SidebarLink>
                <SidebarLink
                    href="https://play.kaplayjs.com"
                    target="_blank"
                    lang={lang}
                    noTranslate
                >
                    {t(lang, "sidebar.playground")}
                </SidebarLink>
                <SidebarLink
                    href="https://opencollective.com/kaplay"
                    target="_blank"
                    lang={lang}
                    noTranslate
                >
                    Donate to KAPLAY
                </SidebarLink>
            </ul>
            <div class="divider"></div>
            <ul class="flex-col gap-2">
                <SidebarChangeLink link="/guides/install" {lang}>{
                    t(lang, "sidebar.guides")
                }</SidebarChangeLink>
                <SidebarChangeLink link="/doc/kaplay" {lang}>{
                    t(lang, "sidebar.refdoc")
                }</SidebarChangeLink>
                <SidebarChangeLink link="/blog" {lang}>{
                    t(lang, "sidebar.blog")
                }</SidebarChangeLink>
            </ul>
            <div class="divider"></div>
            <SidebarList
                sidebarMode={sidebarMode}
                sidebarEntries={renderList}
            />
        </div>
    </div>
</div>

<style>
</style>
