---
import { assets } from "@kaplayjs/crew";

interface Props {
    href: string;
    target?: string;
    icon?: keyof typeof assets;
    selected?: boolean;
}

const { href, target, selected: current, icon, ...props } = Astro.props;
---

<li class="sidebar-link list-none">
    <a
        href={href}
        class="sidebar-link-a btn btn-sm h-auto w-full justify-start text-wrap text-left text-lg text-white aria-[selected=false]:btn-ghost"
        target={target}
        data-link={href}
        aria-selected={current}
        {...props}
    >
        {icon && assets?.[icon]?.outlined && <img src={assets[icon].outlined} alt="Sidebar Icon" class="h-6 w-6" />}

        <slot />
    </a>
</li>
