---
import kaplayLogo from "/public/kaplay-logo-sm-og.png";
import { Image } from "astro:assets";
import sponsorsData from "../../data/sponsors.json";
import FriendsBelow from "../Util/FriendsBelow.astro";
import FooterLink from "./FooterLink.astro";
import FooterNav from "./FooterNav.astro";

const sponsors = Object.values(sponsorsData);
const sponsorImages = import.meta.glob<{ default: ImageMetadata }>("/src/assets/sponsors/*.{jpeg,jpg,png,gif}");

type Props = {
    class?: string;
    friendsClass?: string;
    friendsInnerClass?: string;
};

const { class: className, friendsClass, friendsInnerClass } = Astro.props;
---

<FriendsBelow friends={["bag", "ghosty", "ghostiny", "kat", "burpman", "mark"]} offset={2} class={friendsClass} innerClass={friendsInnerClass}>
    <footer class:list={["w-full rounded bg-base-200 p-8 pt-16 text-base text-base-content rounded-t-xl", className]}>
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 md:grid-cols-3 lg:[grid-template-columns:1.5fr_2fr_2fr_1.5fr] max-w-[1545px] mx-auto">
            <FooterNav title="KAPLAY" icon="pog">
                <FooterLink href="/docs/guides/install"> Installing KAPLAY </FooterLink>
                <FooterLink href="/docs/guides/starting"> Basics of KAPLAY </FooterLink>
                <FooterLink href="/docs/guides/components"> Components of KAPLAY </FooterLink>
            </FooterNav>

            <FooterNav title="Resources" icon="marks_legend">
                <FooterLink href="https://play.kaplayjs.com" external> Start playing around with KAPLAYGROUND </FooterLink>
                <FooterLink href="https://discord.com/invite/aQ6RuQm3TF" external> Ask questions on Discord </FooterLink>
                <FooterLink href="/presskit"> Press Kit </FooterLink>
                <FooterLink href="/books/how_to_be_a_bean_wizard/introduction"> Become a Bean Wizard now! </FooterLink>
                <FooterLink href="/docs/guides/contributor-guide-on-guides">Contribute with this website </FooterLink>
                <FooterLink href="/es">Ve está página en Español</FooterLink>
                <FooterLink href="/lunaria">Translation Progress</FooterLink>
            </FooterNav>

            <FooterNav title="PRESENCE" icon="burpman" columns={2} class="[&_.icon]:ml-1.5">
                <FooterLink href="https://github.com/kaplayjs/kaplay" external> GitHub </FooterLink>
                <FooterLink href="https://discord.com/invite/aQ6RuQm3TF" external> Discord </FooterLink>
                <FooterLink href="https://www.youtube.com/@kaplayjs" external> YouTube </FooterLink>
                <FooterLink href="https://x.com/kaplayjs" external> Twitter/X </FooterLink>
                <FooterLink href="https://www.instagram.com/kaplayjs" external> Instagram </FooterLink>
                <FooterLink href="https://mastodon.gamedev.place/@kaplay" external rel="me"> Mastodon </FooterLink>
                <FooterLink href="https://bsky.app/profile/kaplayjs.com" external rel="me"> Bluesky </FooterLink>
                <FooterLink href="https://kaplay.itch.io/" external> Itch.io </FooterLink>
                <FooterLink href="https://www.reddit.com/r/KaplayJS/" external> Reddit </FooterLink>
            </FooterNav>

            <FooterNav title="SUPPORT" icon="money_bag" class="md:col-span-full lg:col-span-1">
                <div class="flex gap-2 items-center flex-wrap justify-start">
                    <a href="https://opencollective.com/kaplay/donate" target="_blank">
                        <Image
                            src="https://opencollective.com/webpack/donate/button@2x.png?color=blue"
                            width="300"
                            alt="Donate in Open Collective"
                            height={50}
                        />
                    </a>

                    <a href="https://cafecito.app/kaplay" target="_blank" class="bg-white rounded-3xl py-1 pl-1 pr-2">
                        <Image src="/cafecito.svg" width="160" alt="Cómprame un café (Donation for Argentina)" height={50} />
                    </a>
                </div>
            </FooterNav>
        </div>

        <div class="max-w-[1545px] h-px mx-auto mt-14 mb-8 bg-base-50"></div>

        <aside class="flex flex-col items-center justify-center gap-6 sm:flex-row sm:justify-between max-w-[1545px] mx-auto">
            <div class="flex flex-wrap items-center justify-center gap-x-10 gap-y-4">
                <Image src={kaplayLogo} alt="KAPLAY logo" height={47} quality={100} loading={"eager"} format="png" class="pixelated" />

                <div class="inline-flex items-center justify-evenly flex-wrap gap-0 sm:gap-4">
                    {
                        sponsors.map((sponsor) => (
                            <a href={sponsor.url} target="_blank" class="grow-0 shrink basis-1/2 sm:basis-auto">
                                <Image
                                    src={sponsorImages[`/src/assets/sponsors/${sponsor.image}`]()}
                                    alt={sponsor.name}
                                    width={200}
                                    height={80}
                                    class:list={[
                                        "h-24 object-scale-down",
                                        {
                                            "mix-blend-screen": sponsor?.lighten ?? false,
                                        },
                                    ]}
                                />
                            </a>
                        ))
                    }
                </div>
            </div>

            KAPLAY Website, {__SITE_VERSION__}
        </aside>
    </footer>
</FriendsBelow>
