---
import CrewBadge from "@/components/Content/CrewBadge.astro";
import JustForVersion from "@/components/Content/JustForVersion.astro";
import About from "@/components/Land/About.astro";
import AboutFeatured from "@/components/Land/AboutFeatured.astro";
import BlocksSection from "@/components/Land/Blocks/BlocksSection.astro";
import LandButton from "@/components/Land/LandButton.astro";
import TestimonialSection from "@/components/Land/TestimonialSection.astro";
import Banner from "@/components/Navbar/Banner.astro";
import Messages from "@/components/Util/Messages.astro";
import People from "@/components/Util/People.astro";
import NavbarPage from "@/layouts/NavbarPage.astro";
import { assets } from "@kaplayjs/crew";
---

<NavbarPage
    meta={{
        title:
            "KAPLAY.js, la librería de juegos HTML5 para JavaScript y TypeScript. Gratis y Open Source.",
        description:
            "KAPLAY.js es una librería de juegos HTML5 para JavaScript y TypeScript que hace que sea fácil y divertido crear juegos.",
        keywords:
            "kaplay, kaboom.js, kaplay.js, game, library, javascript, easy, simple, html5, html5 games",
    }}
    pageClass="land"
>
    <Fragment slot="head">
        <link rel="preconnect" href="https://unpkg.com" />
    </Fragment>

    <JustForVersion version="3001" slot="banner">
        <Banner href="https://v4000.kaplayjs.com/docs/guides/install/">
            <CrewBadge crew="firing" bgColor="orange" borderColor="yellow">v4000</CrewBadge>
            <p>¡Es hora de probar la <span class="text-rose-900">@next</span> versión de KAPLAY!</p>
        </Banner>
    </JustForVersion>

    <About>
        <Fragment slot="title">
            Crea <span class="font-hand text-[#bf7adf]">juegos</span> en <span
                class="font-hand text-[#ffb879]"
            >HTML5</span> con una <span class="font-hand text-primary"
            >librería divertida</span> y <strong>open source</strong>
        </Fragment>
        <Fragment slot="description">
            <strong class="text-white">KAPLAY</strong>
            <span class="italic">(/ˈkæpleɪ/)</span> es una
            <span class="text-white">librería</span>
            <span class="text-white">JavaScript</span> y <span
                class="text-white"
            >TypeScript</span>
            que hace que sea <span class="text-white">fácil</span> crear juegos
            para la web. Es <span class="text-white">gratis</span>,
            <span class="text-white">open-source</span> y divertida.
        </Fragment>
        <Fragment slot="promotion">
            <img class="w-8" src="/glady.png" />
            <p>
                ¡Guerreros! Suban de nivel con la nueva <a
                    class="link link-hover text-[#aa7aee]"
                    href="guides/how-to-make-a-multiplayer-game-with-colyseus-and-kaplay"
                >guía para crear juegos multijugador con Colyseus</a>.
            </p>
        </Fragment>
        <Fragment slot="buttons">
            <LandButton kind="yellowish" href="/docs/guides/">
                Docs (Inglés)
            </LandButton>

            <LandButton kind="greenish" href="https://play.kaplayjs.com">
                Juega en KAPLAYGround
            </LandButton>

            <LandButton
                kind="blueish"
                href="https://discord.com/invite/aQ6RuQm3TF"
                target="_blank"
            >
                Únete a nuestro Discord
            </LandButton>
        </Fragment>
        <Fragment slot="featured">
            <AboutFeatured friend="apple">
                API sencilla y fácil de usar. Genial para principiantes.
            </AboutFeatured>

            <AboutFeatured friend="bag">
                Un montón de ejemplos y assets listos para usar.
            </AboutFeatured>

            <AboutFeatured friend="bean">
                Gran soporte de TypeScript. Tipos y autocompletado para todo.
            </AboutFeatured>

            <AboutFeatured friend="heart">
                Open Source y gratis, para siempre.
            </AboutFeatured>
        </Fragment>
    </About>
    <BlocksSection>
        <Fragment slot="title">
            Una divertida <span class="font-hand text-[#ee8fcb] text-[106%]"
            >API</span>
            basada
            <span class="inline-flex items-baseline gap-[0.25em]">
                en
                <img
                    class="shrink-0 w-8 sm:w-10 -rotate-6"
                    src={assets.steel.outlined}
                    aria-hidden="true"
                >
                <span class="font-hand text-primary text-[106%]">bloques</span>
            </span>
        </Fragment>
        <Fragment slot="description">
            <p class="text-lg sm:text-xl md:leading-[1.6]">
                <span class="font-bold">KAPLAY</span> es muy <span
                    class="font-hand text-[106%]"
                >divertido</span> de usar y fácil de aprender. Fue diseñado de
                forma única con <strong class="font-medium text-white"
                >bloques y funciones</strong> para hacerlo intuitivo y
                atractivo. ¡Mira los ejemplos a continuación y compruébalo por
                ti mismo!
            </p>
        </Fragment>
        <Fragment slot="blocks-title">
            Y muchos más <span class="text-white">metodos</span> y <span
                class="text-white"
            >funciónes</span>
            <span class="font-hand text-[#8db7ff] text-[106%]">simples</span> y
            <span class="font-hand text-primary text-[106%]">divertidos</span>
            de usar
        </Fragment>
        <Fragment slot="blocks-description">
            No más métodos anidados&nbsp;como:<br>
            <code
                class="font-medium text-base bg-white/10 px-2 py-0.5 rounded-lg box-decoration-clone"
            >
                obj&ZeroWidthSpace;.position&ZeroWidthSpace;.transform&ZeroWidthSpace;.translate(10,
                20)
            </code>
        </Fragment>
        <Fragment slot="buttons">
            <LandButton
                kind="mini-yellowish"
                href="/docs/guides/install/"
                target="_blank"
                rel="noreferrer noopener"
            >
                Instalar (Docs)
            </LandButton>
            <LandButton
                kind="mini-redish"
                href="https://play.kaplayjs.com/"
                target="_blank"
                rel="noreferrer noopener"
            >
                Explorar más ejemplos
            </LandButton>
        </Fragment>
    </BlocksSection>
    <TestimonialSection>
        <Fragment slot="title">
            <span class="inline-flex items-end gap-[0.25em]">
                <span class="font-hand text-[108%] text-[#ffb879]">Voces</span>
                <img
                    class="shrink-0 w-10 sm:w-14"
                    src={assets.burpman.outlined}
                    aria-hidden="true"
                >
            </span>
            de
            <span class="font-hand text-[108%]">
                <span class="text-primary">KAPLAY</span><span
                    class="text-[#6bc96c]"
                >ers</span>
            </span>
        </Fragment>
        <Fragment slot="description">
            No solo confíes en nuestra palabra, mira lo que dicen nuestros
            usuarios sobre <strong>KAPLAY</strong>! Estamos&nbsp;orgullosos de
            tener una comunidad tan genial.<br>
            <a
                href="https://discord.com/invite/aQ6RuQm3TF"
                target="_blank"
                class="inline-flex gap-1 align-bottom font-semibold text-indigo-300"
            >
                <img
                    class="self-center shrink-0 w-5 sm:w-6 h-auto"
                    src={assets.discord.outlined}
                    aria-hidden="true"
                />
                Únete a nuestro Discord
            </a>
            y sé parte de ella!
        </Fragment>
    </TestimonialSection>
    <People>
        <Fragment slot="sponsors-title">
            Nuestros <span class="text-white">geniales</span>
            <span
                class="inline-flex items-baseline gap-1 font-hand text-[#ee8fcb] text-[108%]"
            >
                <img
                    class="relative top-0.5 shrink-0 w-6 sm:w-8"
                    src={assets.heart.outlined}
                    aria-hidden="true"
                />
                <span>Patrocinadores</span>
            </span>
        </Fragment>
        <Fragment slot="contributors-title">
            <span class="text-white">Personas</span> que
            <span
                class="inline-flex items-baseline gap-1 font-hand text-primary text-[106%]"
            >
                <img
                    class="relative top-0.5 shrink-0 w-6 md:w-8"
                    src={assets.plus.outlined}
                    aria-hidden="true"
                />
                contribuyeron
            </span>
            a&nbsp;<span class="text-white">KAPLAY</span>.js
        </Fragment>
        <Fragment slot="contributors-description">
            KAPLAY es el resultado de un gran esfuerzo comunitario. Tú también
            puedes apoyarnos contribuyendo o&nbsp;donando.
        </Fragment>
        <Fragment slot="contributors-buttons">
            <LandButton
                kind="mini-yellowish"
                href="https://opencollective.com/kaplay/donate"
                target="_blank"
                rel="noreferrer noopener"
            >
                <img
                    class="shrink-0 w-6 h-6 object-contain"
                    src={assets.money_bag.outlined}
                    aria-hidden="true"
                />
                Considera Donar
            </LandButton>
            <LandButton
                kind="githubish"
                href="https://github.com/kaplayjs/kaplay"
                target="_blank"
                rel="noreferrer noopener"
            >
                <img
                    class="shrink-0 w-6 h-5 object-contain"
                    src={assets.github.outlined}
                    aria-hidden="true"
                />
                Contribuye en GitHub
            </LandButton>
        </Fragment>
        <Fragment slot="more-contributors">
            más contribuyentes
        </Fragment>
    </People>
    <Messages />
</NavbarPage>
