---
import SearchDialog from "@/components/Search/SearchDialog.astro";
import { $lang } from "@/stores";
import type { Locale } from "@/util/i18n";
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/fredoka";
import "@fontsource/ibm-plex-sans";
import "@fontsource-variable/outfit";
import "@fontsource/darumadrop-one";
import "@fontsource-variable/rubik";
import "@fontsource/pangolin";
import "../styles/base.css";

export type MetaTagData = {
    title?: string;
    description?: string;
    image?: string;
    themeColor?: string;
    keywords?: string;
};

type Props = {
    meta?: MetaTagData;
    lang: Locale;
    class?: string;
};

const { url } = Astro;
const { meta, lang, class: className } = Astro.props;
$lang.set(lang);

const image = new URL(meta?.image ?? "/kaplayjs.png", Astro.url);
---

<!DOCTYPE html>
<html lang={lang} class={className}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="https://kaplayjs.com" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="alternate" hreflang="x-default" href={url.href} />
        <link rel="alternate" hreflang="en" href={url.href} />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={meta?.description} />
        <meta property="og:title" content={meta?.title} />
        <meta property="og:description" content={meta?.description} />
        <meta property="og:image" content={image} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kaplayjs.com" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="https://kaplayjs.com" />
        <meta name="twitter:creator" content="@kaplayjs" />
        <meta name="twitter:title" content={meta?.title} />
        <meta name="twitter:description" content={meta?.description} />
        <meta name="twitter:image" content={image} />
        <meta name="theme-color" content={meta?.themeColor ?? "#abdd64"} />
        <meta name="keywords" content={meta?.keywords} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/summerfruit-dark.min.css"
        />

        <title>{meta?.title}</title>
        <ViewTransitions />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
        <slot name="head" />
    </head>
    <body>
        <slot />
        <SearchDialog />
    </body></html>
