---
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/outfit";
import outfitWoff2 from "@fontsource-variable/outfit/files/outfit-latin-wght-normal.woff2?url";
import "@fontsource/darumadrop-one";
import darumadropOneWoff2 from "@fontsource/darumadrop-one/files/darumadrop-one-latin-400-normal.woff2?url";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/rubik";
import "@fontsource/pangolin";
import "../styles/base.css";

export type MetaTagData = {
    title?: string;
    description?: string;
    image?: string;
    themeColor?: string;
    keywords?: string;
};

type Props = {
    meta?: MetaTagData;
    class?: string;
};

const { url } = Astro;
const { meta, class: className } = Astro.props;
const l = Astro.currentLocale;

const image = new URL(meta?.image ?? "/kaplayjs.png", Astro.url);
---

<!doctype html>
<html lang={l} class={className}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="https://kaplayjs.com" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="alternate" hreflang="x-default" href={url.href} />
        <link rel="alternate" hreflang="en" href={url.href} />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={meta?.description} />
        <meta property="og:title" content={meta?.title} />
        <meta property="og:description" content={meta?.description} />
        <meta property="og:image" content={image} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kaplayjs.com" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="https://kaplayjs.com" />
        <meta name="twitter:creator" content="@kaplayjs" />
        <meta name="twitter:title" content={meta?.title} />
        <meta name="twitter:description" content={meta?.description} />
        <meta name="twitter:image" content={image} />
        <meta name="theme-color" content={meta?.themeColor ?? "#abdd64"} />
        <meta name="keywords" content={meta?.keywords} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/summerfruit-dark.min.css"
            media="none"
            onload="if(media!=='all')media='all'"
        />
        <link rel="preload" as="font" type="font/woff2" href={outfitWoff2} crossorigin="anonymous" />
        <link rel="preload" as="font" type="font/woff2" href={darumadropOneWoff2} crossorigin="anonymous" />

        <title>{meta?.title}</title>
        <slot name="head" />
        <ClientRouter />
    </head>
    <body>
        <slot />
    </body></html
>
