---
import kaplayOutlined from "@/assets/kaplay-o.webp";
import SearchDialog from "@/components/Search/SearchDialog.astro";
import { $lang } from "@/stores";
import type { Locale } from "@/util/i18n";
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/fira-code";
import "../styles/base.css";

export type MetaTagData = {
    title?: string;
    description?: string;
    image?: string;
    themeColor?: string;
    keywords?: string;
};

type Props = {
    meta?: MetaTagData;
    lang: Locale;
};

const { url } = Astro;
const { meta, lang } = Astro.props;
$lang.set(lang);

const image = meta?.image ?? kaplayOutlined.src;
---

<!DOCTYPE html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="https://kaplayjs.com" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="alternate" hreflang="x-default" href={url.href} />
        <link rel="alternate" hreflang="en" href={url.href} />
        <meta name="generator" content={Astro.generator} />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
        <meta name="description" content={meta?.description} />
        <meta property="og:title" content={meta?.title} />
        <meta property="og:description" content={meta?.description} />
        <meta property="og:image" content={meta?.image} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://kaplayjs.com" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="https://kaplayjs.com" />
        <meta name="twitter:creator" content="@kaplayjs" />
        <meta name="twitter:title" content={meta?.title} />
        <meta name="twitter:description" content={meta?.description} />
        <meta name="twitter:image" content={image} />
        <meta name="theme-color" content={meta?.themeColor ?? "#6ba672"} />
        <meta name="keywords" content={meta?.keywords} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/summerfruit-dark.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
            integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
            crossorigin="anonymous"
        />
        <title>{meta?.title}</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
        <SearchDialog />
    </body>
</html>
