---
import JSDoc from "../JSDoc/JSDoc.astro";
import TypeSignatureGenerics from "../TypeSig2/TypeSignatureGenerics.astro";
import ReferenceMembers from "./Name/ReferenceMembers.astro";
import ReferenceName from "./Name/ReferenceName.astro";
import ReferenceParams from "./Name/ReferenceParams.astro";
import ReferenceReturn from "./Name/ReferenceReturn.astro";

export type Props = {
    data: any;
    parent?: string;
};

const { data, parent = "" } = Astro.props;
const Title = parent ? "h2" : "h1";
---

<article
    class="flex flex-col gap-1 text-fira"
    class:list={{
        "p-2": parent,
    }}
    id={`${parent}${data.name}`}
>
    <Title
        class:list={{
            "text-xl": !parent,
            "text-lg": parent,
        }}
    >
        <ReferenceName {data} /><TypeSignatureGenerics {data} /><ReferenceParams
            {data}
        /><ReferenceReturn {data} />
        <ReferenceMembers {data} />
    </Title>
    <JSDoc {data} />
</article>
